Repository Thaislaine997/AUDITORIA360: changes, and which pre-commit hooks are due for each by the changed paths.
All: semantic-intent-validator, business-logic-validator, dependency-entropy-scanner

semantic-intent-validator:
  name: Semantic Intent Validator (IAI-C)
  entry: python scripts/python/semantic_intent_validator.py
  language: python
  additional_dependencies: []

business-logic-validator:
  name: Business Logic Validator (IAI-C)
  entry: python scripts/python/business_logic_validator.py
  language: python
  additional_dependencies: []

dependency-entropy-scanner:
  name: Dependency Entropy Scanner (IAI-C)
  entry: python scripts/python/dependency_entropy_scanner.py
  language: python
  additional_dependencies: []

fix(ci): workflow de deploy do frontend padronizado para branch Principal
  .github/workflows/gh-pages-deploy.yml
Due: none

fix: ajustes finais, workflow e instruções de admin atualizadas
  config/gestor_contas.json
Due: none

chore(ci): remover workflows antigos, manter apenas deploy-pages.yml oficial
  .github/workflows/gh-pages-deploy.yml
  .github/workflows/jekyll-gh-pages.yml
Due: none

chore: ajustes antes de testes de login e investigação de área protegida
  .github/workflows/gh-pages-deploy.yml
  .github/workflows/jekyll-gh-pages.yml
Due: none

fix(auth): senha admin atualizada para admin123 e JSON corrigido
  .github/workflows/automation.yml
  .github/workflows/genome-guardian.yml
  cerebro_api.py
  config/gestor_contas.json
Due: semantic-intent-validator

chore: atualização final de arquivos e sincronização do repositório
  auth/README.md
  conf/README.md
  data_base/README.md
  data_base/migrations/README.md
  data_base/schemas/README.md
Due: none

feat(auth): endpoint de login Python para o portal e hash admin atualizado
  config/gestor_contas.json
  login_api.py
Due: semantic-intent-validator

feat(auth): endpoint de login Python para o portal e hash admin atualizado
  auth/README.md
  auth/gestor_contas.example.json
  auth/login.example.yaml
Due: none

Melhorias completas: autenticação, segurança, documentação, testes, ajustes de tipagem e dependências
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/modules/auth/authService.ts
  src/frontend/src/services/api.ts
  src/frontend/src/stores/authStore.ts
  src/frontend/src/vite-env.d.ts
  src/frontend/tsconfig.json
Due: none

Atualização completa: todos os ajustes, melhorias, dependências e documentação
  auth/gestor_contas.example.json
  auth/login.example.yaml
  login_api.py
Due: semantic-intent-validator

Preparação para refatoração e limpeza total: snapshot do estado atual
  README_IA_INTEGRATION.md
  TESTES_AUTOMATIZADOS.md
  eslint.config.js
  src/frontend/vite-env.d.ts
Due: none

Checkpoint from VS Code for coding agent session
  assets/README.md
  package.json
  pages/dashboard.tsx
  src/pages/_app.tsx
  src/pages/dashboard.tsx
  src/pages/index.tsx
  src/pages/login.tsx
Due: dependency-entropy-scanner

docs: atualizações em .gitignore, CHANGELOG.md, README.md, README_IA_INTEGRATION.md e TESTES_AUTOMATIZADOS.md
  pages/_app.tsx
  pages/dashboard.tsx
  pages/index.tsx
  pages/legacy/documents.tsx
  pages/legacy/portal-demandas.tsx
  pages/legacy/relatorios.tsx
  pages/login.tsx
  src/frontend/pages/dashboard.tsx
  src/pages/legacy/AuditPage.tsx
  src/pages/legacy/CCTDetailPage.tsx
  src/pages/legacy/ConsultorRiscos.tsx
  src/pages/legacy/Dashboard.tsx
  src/pages/legacy/DocumentsPage.tsx
  src/pages/legacy/PayrollPage.tsx
  src/pages/legacy/PortalDemandas.tsx
  src/pages/legacy/PortalDemandasDashboard.tsx
  src/pages/legacy/Templates.tsx
  src/pages/legacy/ValidacaoIAPage.tsx
Due: none

refactor: estrutura unificada para Next.js, remoção de duplicidades, arquivos legacy e Vite removidos, tsconfig ajustado, arquivos essenciais Next criados
  src/frontend/pages/_app.tsx
  src/frontend/pages/_document.tsx
  src/frontend/pages/index.tsx
  src/frontend/tsconfig.json
Due: none

refactor: remoção total do react-router-dom e migração de rotas para padrão Next.js nas páginas de detalhes
  src/frontend/App.tsx
  src/frontend/package.json
  src/frontend/pages/AuditoriaDetailPage.tsx
  src/frontend/pages/CCTDetailPage.tsx
  src/frontend/pages/EmpresaDetailPage.tsx
  src/frontend/pages/RelatorioDetailPage.tsx
  src/frontend/pages/SindicatoDetailPage.tsx
  src/frontend/pages/TarefaDetailPage.tsx
  src/frontend/pages/TicketDetailPage.tsx
  src/frontend/pages/UploadDetailPage.tsx
Due: none

refactor: unificação de páginas de detalhe em rotas dinâmicas, remoção dos arquivos antigos da raiz de pages
  src/frontend/pages/Dashboard.tsx
  src/frontend/pages/auditoria/[id].tsx
  src/frontend/pages/cct/[id].tsx
  src/frontend/pages/empresa/[id].tsx
  src/frontend/pages/relatorio/[id].tsx
  src/frontend/pages/sindicato/[id].tsx
  src/frontend/pages/tarefa/[id].tsx
  src/frontend/pages/ticket/[id].tsx
  src/frontend/pages/upload/[id].tsx
Due: none

refactor: padronização de nomes e estrutura de pages, criação de arquivos enxutos e agrupamento em subpastas
  src/frontend/pages/dashboard.tsx
  src/frontend/pages/documents.tsx
  src/frontend/pages/portal-demandas/dashboard.tsx
  src/frontend/pages/portal-demandas/index.tsx
  src/frontend/pages/templates.tsx
Due: none

Checkpoint from VS Code for coding agent session
  src/frontend/pages/conta/login/index.tsx
  src/frontend/pages/conta/minha-conta/index.tsx
Due: none

Consolidação de workflows: remove redundantes e centraliza em 4 principais (CI/CD, Deploy, Segurança, Health Monitoring)
  .github/workflows/ci-cd-sample.yml
  .github/workflows/ci-rls.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/e2e.yml
  .github/workflows/health-check.yml
  .github/workflows/iai-c-health-monitor.yml
  .github/workflows/rls-tests.yml
Due: none

Consolidação de Dockerfiles: mantém apenas o Dockerfile de produção em /deploy, removendo redundante da raiz
  Dockerfile
Due: none

Padronização de documentação: remove READMEs redundantes de subpastas, mantendo apenas os essenciais e atualizados
  assets/README.md
  conf/README.md
  data_base/README.md
  data_base/migrations/README.md
  data_base/schemas/README.md
  templates/README.md
Due: none

Integração Sentry: adiciona configs, variável de ambiente e dependência para rastreamento de erros Next.js
  .env.example
  .pre-commit-config.yaml
  README_NEXTJS.md
  SECURITY.md
  TESTES_AUTOMATIZADOS.md
  package.json
  sentry.client.config.ts
  sentry.server.config.ts
Due: dependency-entropy-scanner

Configuração final: deploy automatizado via SSH, script PM2 e ajustes finais
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy-ssh.yml
  .github/workflows/deploy.yml
  ANALISE_COMPLEMENTAR.md
  INVENTARIO_ANALISE.md
  LEGACY_INVENTORY.md
  MIGRATION_CHECKLIST.md
  Makefile
  PLANO_ACAO_EXECUTAVEL.md
  PLANO_ESTRATEGICO_UNIFICADO.md
  README.md
  README_IA_INTEGRATION.md
  SUMARIO_EXECUTIVO.md
  cloudflare/backup-worker.js
  components/NotificacoesList.tsx
  components/PortalDemandasAuditoriaLists.tsx
  components/PortalDemandasDomainLists.tsx
  components/TicketsList.tsx
  components/ui/ConfigurationVersioning.tsx
  components/ui/EmpathicTextField.tsx
  components/ui/PersonalizedOnboarding.tsx
  components/ui/SegmentDashboard.tsx
  components/ui/TeamLeaderboard.tsx
  eslint.config.js
  hooks/useNeuralSignals.ts
  lib/supabaseClient.ts
  next.config.js
  package.json
  pages/ChatbotPage.tsx
  pages/dashboard.tsx
  scripts/pm2-setup.sh
  services/acr.ts
  services/api.ts
  stores/intentionStore.ts
  tsconfig.json
Due: dependency-entropy-scanner

Adiciona package-lock.json para build automatizado
  package-lock.json
Due: none

Ajustes finais no workflow de deploy e .gitignore
  .github/workflows/deploy-ssh.yml
  .gitignore
Due: none

Corrige workflow para deploy SUPABASE
  .github/workflows/deploy-ssh.yml
Due: none

Ajuste final: exporta todas as variáveis do Supabase no deploy
  .github/workflows/deploy-ssh.yml
Due: none

Ajuste: usa NEXT_PUBLIC_SUPABASE_URL como segredo no deploy
  .github/workflows/deploy-ssh.yml
Due: none

Path conditions:
  semantic-intent-validator: any of: \.(py)$
  business-logic-validator: any of: ^src/services/.*\.py$
  dependency-entropy-scanner: any of: ^(requirements.*\.txt|package\.json|pyproject\.toml)$
